*{
	padding: 0;
	margin:0;
	box-sizing: border-box;
}

html,body{

	height: 100%;


}

body{
	background: #f56;
	font-family: 'Helvetica';
}

.container{

	width:80%;

	margin:0 auto;
	padding: 20px 0;
}

.container .content-area{
	background: #fff;
	padding: 10px;
	overflow: auto;
}

.container .content-area .active:hover{
	background: #f83;
}

.container .card{
	padding: 5px;
	border-bottom: 1px solid #ccc;
}